// Colors:

$primaryBrandColor = #F4B70C
$secondaryBrandColor = #1b52a9
$textColor = #121213
$textColorLight = rgba($textColor, 0.5)
$linkColor = $secondaryBrandColor
$highlightColor = #73DAF9
$callToActionColor = #26bb58
$successColor = $callToActionColor
$errorColor = #F24049
$errorColorLight = lighten($errorColor, 30)
$backgroundColor = #f2f5f5
$borderColor = darken($backgroundColor, 10)



// Typography:

$fontFamilyPrimary = 'Helvetica Neue', 'Helvetica', sans-serif



// Spacing:

$spacing = 1rem
$inputHeight = 2.5rem



// Miscellaneous:

$focusGlow = 0 0 20px 1px rgba($highlightColor, 0.5)
$errorGlow = 0 0 20px 1px $errorColorLight
